* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Google Sans";
    src: url("./fonts/GoogleSans-Regular.ttf");
}

main#homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    gap: 10px;
}

h1.logo {
    font-size: 4.5rem;
    font-family: "Google Sans", sans-serif;
    background: -webkit-linear-gradient(45deg,
            hsl(240deg 100% 20%) 0%,
            hsl(289deg 100% 21%) 11%,
            hsl(315deg 100% 27%) 22%,
            hsl(329deg 100% 36%) 33%,
            hsl(337deg 100% 43%) 44%,
            hsl(357deg 91% 59%) 56%,
            hsl(17deg 100% 59%) 67%,
            hsl(34deg 100% 53%) 78%,
            hsl(45deg 100% 50%) 89%,
            hsl(55deg 100% 50%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

form#search {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

#search-bar {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
}


.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.btn-group>button {
    margin: 10px 5px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.btn-group>button:hover,
#search-bar:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: 1px solid #dadce0;
    color: #202124;
}

#search-bar input[type="text"] {
    border: 0;
    font-size: 1em;
    width: 100%;
}

#search-bar input[type="text"]:focus {
    border: 0;
    outline: none;
}

#spark {
    position: absolute;
    font-size: medium;
    -webkit-text-fill-color: gold;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    padding: 5px 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .1);
    z-index: 10;
    gap: 40px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header h1.logo {
    font-size: 2em;
}

header form#search {
    flex-direction: row;
}

@media all and (max-width: 720px) {
    header {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    header form#search {
        justify-content: center;
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.glass {
    background: rgba(0, 255, 226, 0.05);
    border-radius: 16px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 255, 226, 0.25);
}

main#search-results-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    width: 80%;
    max-width: 800px;
}

#SGE {
    padding: 10px;
    min-width: 80%;
    font-family: "Google Sans", sans-serif;
}

#SGE > p {
    font-size: small;
    margin-bottom: 10px;
}